body{
    background-color:white;
}
html{
    scroll-behavior: smooth;
}
.headerImage{
    display: flex;
    flex-direction: column;
    background-image: url('images/sewingRoom.jpg');
    height: 500px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.headerImage h3{
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header h1{
    
    padding-left: 20px;
    padding-top: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
nav {
  display: flex;
  gap: 20px;
}
.header nav a{
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 30px;  
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.header a:hover{
    color: palevioletred;
}
h1{
      font-family: 'Dancing Script', cursive;
      font-size: 2rem;
      font-weight: bold;
}
div{
    display: flex;
    gap: 20px;
    align-items: center;
}

img{
    border-radius: 20px;
    max-width: 90%;
    flex-shrink: 1;
}

.product{
    display: block;
    margin: 50px;
    padding-left: 20px;
    max-width: 100%;
    align-content: center;
    background-color: rgb(255, 218, 224);
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

h3{
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.price{
  font-weight: bold;
  margin-top: 5px;
}
.order{
    display: block;
}
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(255, 218, 224);
  border-radius: 20px;
  padding: 30px 20px;
}

.footer-section {
  display: block;
  flex: 1 1 250px;
  margin: 10px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 10px;
  color: black;
}

.footer-section p {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}
#footer1{
    display: block;
}
#footer1 ul {
  display: flex;
  gap: 20px;
  padding: 0;
}

#footer1 ul li {
  list-style: none;
}

#footer1 img{
  width: 40px;
  height: 40px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#footer1 img:hover{
  transform: scale(1.2) translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.footer-bottom {
  padding-left: 500px;
  padding-top: 15px;
  font-size: 0.9em;
  color: black;
}
.footer-section a{
  color: black;
  text-decoration: none;
}

.footer-section a:hover{
  color: palevioletred;
}


button {
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: palevioletred;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: palevioletred;
}
.menu-toggle {
  display: none;
  border: none;
  padding: 10px 15px ;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    nav{
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    }
    nav.show{
        display: flex;
    }
    .menu-toggle{
        display: block;
        margin-bottom: 10px;
    }
    .footer{
        display: block;
    }
}