body{
    background-color:white;
}
html{
    scroll-behavior: smooth;
}
.headerImage{
    display: flex;
    flex-direction: column;
    background-image: url('images/sewingRoom.jpg');
    height: 500px;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}
.headerImage h3{
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.header h1{
    
    padding-left: 20px;
    padding-top: 10px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
nav {
  display: flex;
  gap: 20px;
}
.header nav a{
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    padding: 30px;  
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.header a:hover{
    color: palevioletred;
}
h1{
      font-family: 'Dancing Script', cursive;
      font-size: 2rem;
      font-weight: bold;
}
div{
    display: flex;
    gap: 20px;
    align-items: center;
}

img{
    border-radius: 20px;
    max-width: 90%;
    flex-shrink: 1;
}

.product{
    display: block;
    margin: 50px;
    padding-left: 20px;
    max-width: 100%;
    align-content: center;
    background-color: rgb(255, 218, 224);
    border-radius: 20px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

h3{
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.price{
  font-weight: bold;
  margin-top: 5px;
}
.order{
    display: block;
}
.footer{
    display: flex;
    background-color: rgb(255, 218, 224);
    border-radius: 20px;
}
#footer1{
    display: block;
}
#footer1 ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
#footer1 h3{
    padding-left: 20px;
}
#footer1 p{
    padding-left: 20px;
}

#footer2{
    display: block;
}
#footer2 ul{
    list-style: none;
}

#footer3{
    display: block;
}
#footer3 ul{
    list-style: none;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: palevioletred;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: palevioletred;
}
.menu-toggle {
  display: none;
  border: none;
  padding: 10px 15px ;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
    nav{
    display: none;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    }
    nav.show{
        display: flex;
    }
    .menu-toggle{
        display: block;
        margin-bottom: 10px;
    }
    .footer{
        display: block;
    }
}